<h2>List of beer ratings</h2>

<%= link_to 'New rating', ratings_new_path %>

<ul>
	<% @ratings.each do |rating| %>
		<li> 
			<%= rating %> 
			<% if rating.user == current_user %>
				<%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
			<% end %>
		</li>
	<% end %>
</ul>